html
  head
    meta(charset='utf-8')
    style(type='text/css').
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  body
    include navbar

    .container
      .row
        .col-md-8
          h2=people.firstname
          h2=people.lastname
          h2=people.email
