html
  head
    meta(charset='utf-8')
    style(type='text/css').
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  body
    include navbar

    .container
      .row
        .col-md-8
          h1 Search Results
          .card.card-block
            if user
              h4(class="card-title")= user.firstname + " " + user.lastname
              p(class="card-text")= "Email: " + user.email
            else
              h4 User is not found
